In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
%matplotlib inline

In [2]:
!pwd

/Users/sjadallah/Desktop

In [7]:
df=pd.read_csv('US_fuelprices.csv')
print(df)

       Date  All Grade ($/Gal)  Diesel ($/Gal)
0    Dec-94              1.129           1.113
1    Jan-95              1.130           1.098
2    Feb-95              1.120           1.088
3    Mar-95              1.119           1.088
4    Apr-95              1.157           1.104
5    May-95              1.225           1.126
6    Jun-95              1.239           1.120
7    Jul-95              1.201           1.100
8    Aug-95              1.170           1.105
9    Sep-95              1.158           1.119
10   Oct-95              1.134           1.115
11   Nov-95              1.109           1.120
12   Dec-95              1.118           1.130
13   Jan-96              1.137           1.145
14   Feb-96              1.136           1.145
15   Mar-96              1.183           1.183
16   Apr-96              1.275           1.275
17   May-96              1.324           1.273
18   Jun-96              1.300           1.201
19   Jul-96              1.272           1.176
20   Aug-96              1.251           1.201
21   Sep-96              1.247           1.265
22   Oct-96              1.249           1.323
23   Nov-96              1.278           1.323
24   Dec-96              1.282           1.309
25   Jan-97              1.283           1.291
26   Feb-97              1.276           1.280
27   Mar-97              1.251           1.229
28   Apr-97              1.244           1.212
29   May-97              1.245           1.196
..      ...                ...             ...
263  16-Nov              2.295           2.439
264  16-Dec              2.366           2.510
265  17-Jan              2.458           2.580
266  17-Feb              2.416           2.568
267  17-Mar              2.437           2.554
268  17-Apr              2.528           2.583
269  17-May              2.503           2.560
270  17-Jun              2.460           2.511
271  17-Jul              2.414           2.496
272  17-Aug              2.494           2.595
273  17-Sep              2.761           2.785
274  17-Oct              2.621           2.794
275  17-Nov              2.678           2.909
276  17-Dec              2.594           2.909
277  18-Jan              2.671           3.018
278  18-Feb              2.705           3.046
279  18-Mar              2.709           2.988
280  18-Apr              2.873           3.096
281  18-May              2.987           3.244
282  18-Jun              2.970           3.253
283  18-Jul              2.928           3.233
284  18-Aug              2.914           3.218
285  18-Sep              2.915           3.262
286  18-Oct              2.943           3.365
287  18-Nov              2.736           3.300
288  18-Dec              2.457           3.123
289  19-Jan              2.338           2.980
290  19-Feb              2.393           2.997
291  19-Mar              2.594           3.076
292  19-Apr              2.881           3.121

[293 rows x 3 columns]

In [8]:
df.columns=['MM-Year', 'Fuel_All Grades', 'Fuel_Diesel']

In [2]:
Fuel = df.colums['Fuel_All Grades']
Diesel = df.colums['Fuel_Diesel']

plt.plot(df['Fuel'])
plt.show()

NameError: name 'df' is not defined